{% extends 'base.html.twig' %}

{% block title %}Liste des épisodes{% endblock %}

{% block body %}
    <h1>List of episodes</h1>
    <a href="{{ path('episode_new') }}">Create a new episode</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.title }}</td>
                <td>{{ episode.number }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}">Discover</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}