{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th>Numéro</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
        </tbody>
    </table>
    
    <div>
        <div style="margin-bottom: 5px" >
            <a href="{{ path('episode_edit', {'slug': episode.slug }) }}">Modifier</a>
        </div>
        <div style="margin-bottom: 5px" >
            <a href="{{ path('episode_index') }}">Retour à la liste des épisodes</a>
        </div>
        <div style="margin-bottom: 5px" >
            <a href="{{ path('season_index') }}">Retour à la liste des saisons</a>
        </div>
        <div>
            {{ include('episode/_delete_form.html.twig') }}
        </div>
    </div>

{% endblock %}