{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h2>{{ program.title }}, Season {{ season.number }}, Episode {{ episode.number }}</h2>
    
        <p>Episode title : {{ episode.title }}</p>
        <p>Summary : {{ episode.synopsis }}</p>

    <a href="{{ path('program_season_show', { programSlug: program.slug, seasonId: season.id }) }}">Return</a>

{% endblock %}