{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>All series of the program table: </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Category : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { 'slug': program.slug }) }}">See the notice</a>
        </div>
    {% else %}
        No series found
    {% endfor %}

    <a href="{{ path('app_index') }}">Back to home</a>
    
{% endblock %}