{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>All series from he program table : </h1>
    {% for program in programs %}
        <div>
            <h2>{{ loop.index }} / {{ program.title }} - Categoriy : {{ program.category.name }}</h2>
            <p>{{ program.summary }}</p>
            <a href="{{ path("program_show", { id: program.id }) }}">See the notice</a>
        </div>
    {% else %}
        No series found.
    {% endfor %}
    <a href="{{ path('program_new') }}">
        Add a new program
    </a><br>
    <a href="{{ path('app_index') }}">
        Return at home
    </a>
{% endblock %}