{% extends 'base.html.twig' %}

{% block title %}Season {{ season.number}} - {{ program.title }}{% endblock %}

{% block body %}
    <h2>Season {{ season.number }} de {{ program.title }}</h2>
        <p>{{ season.description }}</p>
        <p>Diffusion : {{ season.year }}</p>
        <p>>List of episodes :</p>
    <ul>
        {% for episode in season.episodes %}
            <li>
                <a href="{{ path("program_episode_show", { programSlug: program.slug, seasonId: season.id, episodeSlug: episode.slug }) }}">Episode {{ episode.number }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <a href="{{ path('program_show', { slug: program.slug }) }}">Return</a>

{% endblock %}