{% extends 'base.html.twig' %}

{% block title %}Saison #{{ season.number }}{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="season_description">
                <h1> {{ program.title }}</h1>
                <h2>Saison {{ season.number }}</h2>

                <p>{{ season.description }}</p>

            <h1>Les épisodes de cette saison :</h1>

                <ul>
                    {% for episode in season.episodes %}
                        <li>
                            <h2>{{ episode.title }}</h2>
                            <div class="season">
                                <a href="{{ path("program_episode_show", { 'programId': program.id, 'seasonId' : season.id, 'episodeId' : episode.id}) }}"> Voir le détail de l'épisode {{ episode.number }}</a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <a href="{{ path('program_index') }}">
                Retour à la liste des programmes
            </a>
        </div>
    </div>

{% endblock %}