<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Wild Series</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('program_index') }}">{{'Series'|trans}}</a>
            </li>
                {{ render(controller('App\\Controller\\ProgramController::navbartop')) }}
            <li class="nav-item">
                <a class="nav-link" href="{{ path('season_index') }}">{{'Seasons'|trans}}</a>
             <li class="nav-item">
                <a class="nav-link" href="{{ path('episode_index') }}">{{'Episodes'|trans}}</a>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}">{{'Actors'|trans}}</a>
            </li>
            <li class="nav-item">
			{% if app.user %}
				{{ app.user.email }}
				    <a class="nav-link nav-style" href="{{ path('app_logout') }}">
					{{ 'account.logout'|trans }}</a>
			{% else %}
				    <a class="nav-link nav-style" href="{{ path('app_login') }}">
					{{ 'account.login'|trans }}</a>
			{% endif %}
		    </li>
		    <li class="nav-item">
			{% if app.user %}
				<a class="nav-link nav-style" href="{{ path('user_space') }}">{{ 'my.account'|trans }}</a>
			{% else %}
				<a class="nav-link nav-style" href="{{ path('app_register') }}">{{ 'account.create'|trans }}</a>
			{% endif %}
		    </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Langues
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="nav-item" href="{{ path('app_index', {'_locale':'fr'}) }}">Fr</a>
            <a class="nav-item" href="{{ path('app_index', {'_locale':'en'}) }}">En</a>
        </div>
</nav>